.superb {
    position: relative;
    width: 100%;

}

.firstmain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 60px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    padding: 15px;
    width: 100%;
    background-color: white;
}

.sale {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 120px;
    width: 99%;
}

.homecbg {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sgdivfirst {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 40px;
}

.homepara {
    font-size: 15px;
    margin-top: 0;
}

.mainbgwhitedivs {
    background-color: #fdfdfd;
    display: flex;
}



.blog1img {
    position: relative;
}

.mainblogsa {
    padding-left: 70px;
    margin-top: 30px;
}

.googlewid {
    width: 63%;
    background-color: white;
    border: 1px solid gray;
    margin-top: 20px;
    padding: 20px;
}

.thatsvgs {
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;
}

.purplebg {
    background-color: #fbf9ff;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 350px;
}

.purplebg1 {
    background-color: #fbf9ff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    width: 350px;
}

.purplebg2 {
    background-color: #fbf9ff;

    padding: 20px;
    width: 350px;
}

.purplebg3 {
    background-color: #fbf9ff;
    padding-bottom: 50px;
    padding: 20px;
    width: 350px;
}

.search {
    background-color: white;
    border: none;
    width: 250px;
    padding: 18px;
    text-align: start;
}

.btnsre {
    background-color: red;
    color: white;
    padding: 18px;
    width: 80px;
    border: none;
}

.mainpurplg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    margin-top: 40px;
    gap: 20px;
}

.postimg {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Januarypara {
    margin-top: 0;
}

.btntech {
    display: flex;
    gap: 10px;
}

.Project {
    background-color: white;
    border: none;
    width: 120px;
    padding: 5px;
}

#love {
    width: 80px;
}

.mainbutton3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainpost10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subimgpst {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Mmainsubsci {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.Enteremailbtn {
    background-color: white;
    width: 320px;
    padding: 15px;
    border: none;
}
.SUBSCRIBE{
    color: red;
    border: 1px solid red;
    padding: 15px;
    width: 320px;
    background-color: white;
}
.lastblcdiv {
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 30px;
}

.subblc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enterbtnc {
    background-color: white;
    color: black;
    border: none;
    width: 250px;
    padding: 18px;
    text-align: start;
}

.Subscribebtn {
    background-color: red;
    color: white;
    border: none;
    padding: 18px;
    width: 180px;
}

.svgdivs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footerl {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
}

.copyright {
    text-align: center;
}

.imgfooter {
    display: flex;
    align-items: start;
    margin-top: 20px;
    width: 10%;
}